.agents/
.vscode/
Part1/projects/hugoGroupProject/xapi-specification/hugo_stats.json
Part1/projects/hugoGroupProject/xapi-specification/hugo_stats.json

# Local Netlify folder
.netlify
Part1/projects/hugoGroupProject/xapi-specification/static/stories/xapi-fundamentals/xapi-fundamentals.twee
